* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --ligth: 300;
    --regular: 400;
    --semi-bold: 600;
    --bold: 700;
}

body {
    font-family: 'Montserrat';
    font-size: 14px;
    overflow-x: hidden;
}

header {
    height: 100px;
    background-color: black;
    color: #fff;
}

.header {
    max-width: 1140px;
    height: 100px;
    margin: auto;
    display: flex;
    align-items: center;
}

.logo {
    width: 100px;
}

.logoimg {
    display: flex;
    width: 80px;
    height: 80px;
    align-items: center;
}

.menu {
    flex: 1;
    display: flex;
    justify-content: flex-end;
}

.menu li,
.menu ul {
    list-style: none;
}

.menu ul {
    display: flex;
}

.menu li a {
    color: #fff;
    text-transform: uppercase;
    font-weight: var(--semi-bold);
    text-decoration: none;
    padding-left: 10px;
    padding-right: 10px;
    height: 100px;
    display: flex;
    align-items: center;
    border-bottom: 5px solid black;
}

.menu li a:hover,
.menu .active a {
    border-bottom: 4px solid orange;
    color: rgb(223, 170, 71);
}

i {
    font-size: 50px;
    color: aliceblue;
}

.banner {
    height: calc(100vh - 100px);
    background-color: #333;
    background-image: url('../Mídia/bg.jpg');
    background-size: cover;
    background-position: bottom;
    overflow: hidden;
}

.banner .sliders {
    width: 3000vw;
    height: 100%;
}

.banner .slide {
    width: 100vw;
    height: 100%;
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.7);
}

.banner .slidearea {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    color: #fff;
    flex-direction: column;
}

.banner h1 {
    text-transform: uppercase;
    font-weight: var(--bold);
    font-size: 60px;
}

.banner h1 span {
    color: #b28756;
}

.banner h2 {
    text-transform: uppercase;
    margin-top: 20px;
}

.button {
    display: inline-block;
    background-color: #b28756;
    color: #fff;
    text-transform: uppercase;
    font-size: 10px;
    font-weight: var(--semi-bold);
    text-decoration: none;
    padding: 10px 30px;
    margin-top: 30px;
    border-radius: 17px;
}

.banner .sliders-pointers {
    width: 100vw;
    height: 20px;
    position: absolute;
    margin-top: -50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner .pointer {
    width: 15px;
    height: 15px;
    border: 2px solid #B28756;
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 8px;
    cursor: pointer;
}

.banner .pointer.active {
    background-color: #B28756;
}

.default {
    padding-top: 50px;
    padding-bottom: 50px;

}

.default .section-desc,
.default .section-title {
    text-align: center;
    text-transform: uppercase;
    font-weight: var(--bold);
}

.default .section-title {
    margin-top: 25px;
    font-size: 25px;
}

.default .section-desc {
    color: #ccc;
    margin-top: 13px;
    margin-bottom: 40px;
    font-size: 15px;
}

.default .section-body {
    max-width: 1140px;
    margin: auto;
    min-height: 100px;
}

.light {
    background-color: #f7f7f7;

}

.dark {
    color: #fff;
    background-color: #000;
}



/*------------------Areas da apgina----------------*/
.section-aboutus {
    display: flex;
}

.section-aboutus--left {
    flex: 1;
    margin-right: 20px;
}

.section-aboutus--left p {
    font-size: 14px;
    line-height: 25px;
}

.section--aboutus--rigth {
    width: 520px;
    text-align: center;
}

.section--aboutus--rigth img {
    width: 480px;
    box-shadow: 0px 5px 10px #333;
}

.section--services {
    display: flex;
}

.section--service {
    flex: 1;
    text-align: center;
}

.section--service img {
    flex-wrap: nowrap;
}